:root {
	--nicegui-default-padding: 0rem;
	--nicegui-default-gap: 0;
	--primary-color: #0077b3;
	--disabled-color: #808080;
	--white-color: #ffffff;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e0e7eb;
}

.highlight-last {
	background-color: #fff8d6;
	border-left: 4px solid #ffb300;
	padding: 10px;
	animation: subtle-blink 1.5s ease-in-out 2;
	transition: background-color 0.3s;
}

@keyframes subtle-blink {
	0% {
		background-color: #fff8d6;
		box-shadow: 0 0 0px rgba(255, 179, 0, 0);
	}
	50% {
		background-color: #ffe58f;
		box-shadow: 0 0 8px rgba(255, 179, 0, 0.5);
	}
	100% {
		background-color: #fff8d6;
		box-shadow: 0 0 0px rgba(255, 179, 0, 0);
	}
}
