:root {
	--nicegui-default-padding: 0rem;
	--nicegui-default-gap: 0;
	--primary-color: #0077b3;
	--disabled-color: #808080;
	--white-color: #ffffff;
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e0e7eb;
}

.highlight-last {
	border-radius: 0.5rem;
	background-color: #e0e7eb;
	animation: subtle-blink 1s ease-in-out 2;
	transition: background-color 0.3s;
}

@keyframes subtle-blink {
	0% {
		background-color: #e0e7eb;
	}
	50% {
		background-color: hsl(203, 21%, 75%, 0.3);
	}
	100% {
		background-color: #e0e7eb;
	}
}
